/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-navbar-bg-image:#fb6c5e;
  --f7-theme-color: #fff;
  --f7-radio-active-color:#FB6C5E;
  --f7-theme-color-rgb: 239, 131, 84;
  --f7-theme-color-shade: #FB6C5E;
  --f7-theme-color-tint: #FB6C5E;
  --f7-label-text-color:#333;
  --f7-input-text-color:#333; 
  --f7-navbar-text-color:#333; 
  --f7-dialog-bg-color:#ffffff;
  --f7-dialog-button-text-color:#333;
  --f7-bars-bg-color:#FB6C5E;
  --f7-tabbar-link-inactive-color:rgba(255, 255, 255, 0.493);
  --f7-fab-text-color:#FB6C5E;
  --f7-swipeout-delete-button-bg-color:#FB6C5E;
  --f7-card-header-min-height:0;
  --f7-list-chevron-icon-color:#FB6C5E;
  --f7-card-content-padding-vertical:1%;
  --f7-card-content-padding-horizontal:2%;
  --f7-list-item-title-font-size:2vh;
  --f7-list-item-subtitle-font-size:2vh;
  --f7-list-item-border-color:darkgrey;
  --f7-input-error-text-color: #FB6C5E;
  --f7-navbar-text-color:#ffffff;
  --f7-input-outline-border-color:#FB6C5E;
  --f7-input-outline-focused-border-color:#FB6C5E;
  --f7-toolbar-text-color:#FB6C5E;
  --f7-font-family:'Lato',sans-serif !important;
}

.device-desktop .picker-popover{
  max-width:655px !important;
  width:100% !important;
}
.device-desktop .popover-close{
  color:#FB6C5E!important;
}
/* Your app custom styles here */
.button{
  overflow: unset !important;
}
.img_css{
  width:40%;
  height: 40%;
}

.login-screen-content{
  padding:2%;
}



.login-button{
  width:40%;
}

.popup-close{
color:#333;
}

.toolbar{
  background-color:#fff; 
}

.toolbar-top{
  background-color:#FB6C5E ;
}

.tab-link{
  font-family: 'Lato',sans-serif;
}

.userbar .user-item{
  display:inline-block;
  font-size: medium;
  font-family: 'Lato',sans-serif;
}

.userbar .logout-item{
  display:inline-block;
  font-size: small;
}

.userbar{
padding:2% ;

  
color:rgb(235, 235, 235);

}

.material-icons-color {
  color: #FB6C5E;
}



.fab-label{
  color:#FB6C5E ;
}


.bar_bg:after {
  content: '';
  position: fixed;
  top: 100%;
  display: block;
  margin: 0 auto;
  background: #FB6C5E;
  width: 50px;
  height: 25px;
  border-radius: 0 0 50px 50px;
}



.text-color{
  color:#FB6C5E ;
}

.tab_font_size{
  font-size:2.8vh;
}

.page ::-webkit-scrollbar {
  display: none;
}


.right_text{
  text-align: right;
  float: right;
}


.left_text{
  text-align: left;
  float: left;
}



.card-header{
  background-color: #FB6C5E;
  color:white; 
}


.card_width{
  width: calc(100% - 16px);
}

.one_row_item{
  display: inline-block;
}


.swipeout-delete{
 margin-top: 10%;
  height:80%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}


.login_bg{
  background-image: linear-gradient(to top right, rgba(252, 79, 88,1) 30%, rgba(245, 173, 4,1));
}


.convert-form-to-data{
  background-color:    #FB6C5E ;
}


.resident_list .item-title-row:before{
 display:none !important;

}
.resident_list .item-inner:before{
  display:block !important;
font-family: 'Framework7 Icons' !important;
content: 'phone_round_fill' !important;
font-size: 170% !important;
margin-right: 10px;
}

.resident_list .item-inner{
 width:98% !important;
}



.resident_list .location_icon:before{
  color:#FB6C5E;
  display:block !important;
  font-family: 'Framework7 Icons' !important;
  content: 'placemark_fill' !important;
  font-size: 170% !important;
  margin-left: -10px !important; 
}

.check_in_out_label:before{
  display:block !important;
  font-family: 'Framework7 Icons' !important;
  content: 'sort_down_round_fill' !important;
  font-size: 170% !important;
  color:#FB6C5E;
  margin-right: 10px !important; 
  line-height: 24px;
  float:right;
}

.resident_list li{
  max-width:100%;
}

.page{
  max-width:100%;
  
}
.content_heigt{
  position: relative;
 height: 100%; 
 min-height:50px;
}

.card-left-content{
position: absolute;
background-color: #FB6C5E;
color: #ffffff;
font-size: 1vh;
height: 100%;
text-align: center;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;

}

.card-left-content_inner{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card-left-content p{
  margin:0;
}


.card-center-content{
  position: absolute;
  margin-left: 22%;
  font-size: 1.6vh;
  height: 100%;
}

.card-center-content_inner{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
}

.card-right-content{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 0;
  position: absolute;
  text-align: center;
  height: 100%;
  
  background-color: #FB6C5E;
color: #ffffff;
max-width: 30px;
}

.card-right-content_inner{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}


.card{
  cursor:pointer;

}

.open-boom-gate-btn{
 max-width:200px;
  background: #FB6C5E;
}



 

  .btm_nav{
    width: 90%;
    padding:5%;

  
position: absolute;
bottom: 0;
 }


 .white_label{
   color: #ffffff !important;
 }

 .custom-label{
  color: #ffffff !important;
  cursor: pointer;
 }


 .custom-label h1{
  font-size: 5vh !important;
 }

 
 .custom-label h2{
  font-size: 3vh !important;
 }
 
 .custom-label h3{
  font-size: 2vh !important;
 }






 .custom-button{
  width:12vh;
  height:12vh;
  border-radius: 100%;
  background-color:rgba(255, 255, 255, 0.75);
  position: relative;
  left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
   }

   .custom-icon{
     color: #FB6C5E;
    position: relative;
 font-size:8vh;
    top: 50%;
    transform: translate(0, -50%);
   }







   .custom-label1{
    color: #FB6C5E !important;
    cursor: pointer;
   } 


   .custom-label1 h3{
    font-size: 2vh !important;
   }
  
  
  
   .custom-button1{
    width:12vh;
    height:12vh;
    border-radius: 100%;
    background-color:#FB6C5E;
    position: relative;
    left: 50%;
      transform: translate(-50%, 0);
      cursor: pointer;
     }
  
     .custom-icon1{
       color: #ffffff;
      position: relative;
   font-size:8vh;
      top: 50%;
      transform: translate(0, -50%);
     }
  


  


   
 .custom-button-large{
  width:30vh;
  height:30vh;
  border-radius: 100%;
  background-color:rgba(255, 255, 255, 0.75);
  position: relative;
  left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
  
   }
   

   .custom-icon-large{
    color: #FB6C5E;
   position: relative;
font-size:18vh;
   top: 50%;
   transform: translate(0, -50%);
  }



  .custom-img{
    padding:2.5%;
    width: 95%;
    
    object-fit: contain;
  }

  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
  }

  .demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #FB6C5E;
    min-height: 150px;
  }

  .demo-swiper {
    margin: 0px 0 35px;
    
    font-size: 18px;
    min-height: 150px;
  }
  



  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #FB6C5E !important;
  
}



.visitor_content{
  padding:10px;
  
  max-width: 700px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  }
  

  .cordova-camera-capture{
    position: absolute !important;
    top:0;
    width: 100%;
    height:100%;
    background: black;
  }

  
  .cordova-camera-capture video{
    width: 100% !important;
    height: 95% !important;
  }

  .center_position{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  font-size: 2.5vw;
  }



  .visitor_scroll_view{
    height:46vh !important;
    overflow-y: scroll !important;
    border-radius: 12px;
    background-color: rgb(245, 245, 245);
  }

  